* {
    background-image: url("img/background.jpg");
    font-family: "Georgia", serif;
    scroll-behavior: smooth;
}

#menu_toggle {
    opacity: 0;
}

.hamburger-menu {
    position: fixed;
    top: 20px;
    left: 20px;
}

.menu_btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 2;
}

.menu_btn>span,
.menu_btn>span::before,
.menu_btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
}

.menu_btn>span::before {
    content: '';
    top: -8px;
}

.menu_btn>span::after {
    content: '';
    top: 8px;
}

.menu_box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #ECEFF1;
    -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.menu_item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

.menu_item:hover {
    background-color: #CFD8DC;
}

#menu_toggle:checked~.menu_btn>span {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#menu_toggle:checked~.menu_btn>span::before {
    top: 0;
    -webkit-transform: rotate(0);
    transform: rotate(0);
}

#menu_toggle:checked~.menu_btn>span::after {
    top: 0;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

#menu_toggle:checked~.menu_box {
    visibility: visible;
    left: 0px;
}

.menu_btn>span,
.menu_btn>span::before,
.menu_btn>span::after {
    -webkit-transition-duration: .25s;
    transition-duration: .25s;
}

.menu_box {
    -webkit-transition-duration: .25s;
    transition-duration: .25s;
}

.menu_item {
    -webkit-transition-duration: .25s;
    transition-duration: .25s;
}

.menu_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.container {
    width: 80%;
    margin: auto;
    padding: 10px;
    border: 2px dashed gray;
}

img {
    object-fit: cover;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.github,
.rss {
    display: block;
}

.footer-container {
    margin: 10px;
}

.row {
    display: flex;
}

.row,
.row>.column {
    padding: 8px;
}

.column {
    width: 20%;
}

.content {
    background-color: white;
    padding: 10px;
}

.video-wrapper {
    display: flex;
    justify-content: center;
}

iframe {
    border-width: 0px;
}